*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    
}


.bg-dark{
    background-color: #333741;
    opacity: 1;
    width: 100%;
    display: flex;
    padding: 5rem;
}
 .container {
    margin: auto;
    font-size: 0;
    border-radius: 10%;
   
    
}


input {
    background-color: darkgrey;
    width: 240px;
    padding: 5px;
    cursor: pointer;
    text-align: right;
    color: black;
    height: 80px;
    font-size: 26px;
    outline: none;

}

input :active {
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.text-right{
    text-align: right;
    font-size: 2rem;
    font-weight: 600;
}

.calc-btns {
    width: 60px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 500;
    border: 0.001rem solid #b8b7b7;
}

.active {
    background-color: red;

}

.operation {
    background-color: orange;
}

#zero {
    width: 120px;
}


/* h1 {
    color: white;
    text-align: center;
}
.inputNumber{
    display: flex;
    justify-content: space-around;
}
.form-control {
    height: 20px;
    border-radius: 15%;
    background-color: blue;
    width: 30%;


} */


/* @media (min-width: 768px) {
}


@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
} */